.button-green {
  min-width: 200px;
  height: 50px;
  margin-right: var(--space-small);
  color: white;
  font-weight: bold;
  font-size: 22px;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  background-color: var(--color-green);
}

.button-signOut {
  background-color: white;
  color: black;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
