.navigationBar {
  display: flex; /* for aligning items using modern CSS */
  position: fixed;
  width: 100%;
  height: var(--navigation-bar);
  padding: 0 var(--page-space);
  align-items: center; /* used with flex to align items on the vertical axis */
}

.navigationBar img {
  height: 25px;
  margin-right: var(--space-big);
}

.navigationBar a {
  text-decoration: none;
  color: black;
  padding: 10px;
  background-color: white;
  margin-right: var(--space-medium);
  text-align: center;
}

.navigationBar .search {
  margin-left: auto; /* used with flex to push the item to the oposite side */
}

.navbarLinks {
  display: flex;
  width:100%;
  justify-content: flex-end;
}