#search {
  display:grid;
  grid-auto-rows: minmax(200px, auto);
}

#search .search-field {
  display: grid;
  place-items: center;
}

#search .item-card {
  flex-grow: 0;
  flex-shrink: 0;
}

#search .card-list {
  margin-bottom: var(--space-big);
  padding: 0 var(--page-space);
}

#search .card-list div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-gap: var(--space-small);
  overflow-y: scroll;
}

/* Remove scrollbar space */
#search .card-list div::-webkit-scrollbar {
  display: none;
}
